.section2 .heading{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
}



.section2 .heading{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
}
.section2 .heading h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


.section2 .gamecontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.section2.gamecontainer .box1{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    height: 20px;
    width: 20px;
    background-color: #ff7206;
}