*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}
.section1{
    height: 100vh;
    background: url(./images/futuristic-bg.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
}
nav{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    margin-top: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 2;
    border-radius: 10px;
}
nav ul{
    display: flex;  
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 25%;
    top: 21px;
    gap: 60px;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}
nav ul li {
    list-style: none;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
.logo{
    position: absolute;
    margin-left: 10%;
    top: 10px;
}
.logo img{
    height: 40px;
    margin-top: 11px;
}

.buttons {
    display: flex;
    position: absolute;
    right: 5%;
    top: 25%;
    
   
}
.sign-in-btn,
.sign-up-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sign-in-btn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.sign-in-btn:hover {
    background-color: #ff8706; 
}
.sign-up-btn {
    background-color:rgba(0, 0, 0, 0);
    color: white;
}
.sign-up-btn:hover {
    background-color: #ff8706;
}
/*responsive navbar*/
.hamburger{
    display: none;
    position: absolute;
    right: 5%;
    top: 30%;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 2px;
}
@media only screen and (max-width:905px){
   nav ul{
    display: none;
   }
   .buttons{
    display: none;
   }
   .hamburger{
    display: block;
   }
}





.section1 .mainset{
    color: #fff;
    width: 90%;
    position: relative;
    top: 30%;
    left: 9%;
}
.section1 .mainset h1{
  font-size: 3rem;
  line-height: 4rem;
}
@media only screen and (max-width:437px){
    .section1 .mainset h1{
        font-size: 2.5rem;
      }  
}
.mainset p{
    color: #c2bcbc;
    margin-top: 20px;
}
.btn {
    display: flex;
    position: absolute;
    margin-top: 25px;
    background-color: rgba(0,0,0,0.1);
    gap: 40px;
   
}
.get-started,
.learn-more {
    padding: 15px 30px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid white;
}
.get-started {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.get-started:hover {
    background-color: #ff7206; 
}
.learn-more {
    background-color:rgba(0, 0, 0, 0);
    color: white;
}
.learn-more:hover {
    background-color: #ff7206;
}

.right{
    position: absolute;
    right: 10%;
    bottom: 1%;
    height: 25%;
    width: 19%; 
}
@media only screen and (max-width:996px){
    .section1 .right{
        display: none;
      }  
}

.right h6{
    color: white;
    font-size: 1.5rem;
}
.section2{
    height: 100vh;
    width: 100%;
    background-color: #ebf9ff;
}
.heading{
    padding-top: 40px;
    line-height: 27px;
    text-align: center;
    font-size: 1.5rem;
}

.section2 .gamecontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
    margin:40px;
}

.section2 .gamecontainer .box1{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    height: 350px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.gamecontainer .box1 .about{
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    top: 73%;
    color: white;
    height: 95px;
    display: flex;
    gap: 15px;
    padding-top: 18px;
    border-radius: 0 0 5px 5px;
}

.box1:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.about img{
    height: 20px;
}
.star{
    display: flex;
    flex-direction: row;
}
.about .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}
.about .right1 .download{
    font-size: 17px;
    padding: 11px 21px;
    color: #fff;
    background-color: #ff7206;
    cursor: pointer;
    border: none;
}
#box1{
    background: url(./images/image\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
#box2{
    background: url(./images/image\ 4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
#box3{
    background: url(./images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
#box4{
    background: url(./images/image\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
@media only screen and (max-width:1204px){
    .section2{
        height: 135vh;
    }
}
@media only screen and (max-width:630px){
    .section2{
        height: 245vh;
    }
}
.section3{
    height: 100vh;
    width: 100%;
    background-color: #f8fafb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.section3 .box2{
    height: 70%;
    width: 44%;
    
}
.section3 .box2 h2{
    font-size: 50px;
}

.section3 .box2 p{
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 17px;
    color: gray;  
}
#picture{
    background: url(./images/Rectangle\ 57.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: 0.3s ease-in-out;
}
#picture:hover{
    transform: scale(1.04);
}

.btn2{
    display: flex;
    position: absolute;
    gap: 40px;
}

.explore-now,
.learnmore {
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #ff7206;
    background-color: #fff;
    color: #ff7206;
}
.explore-now:hover{
    background-color: #ff7206;
    color: white;
}
.learnmore:hover{
    background-color: #ff7206;
    color: white;
}
@media only screen and (max-width:860px){
    .section3{
        flex-direction: column;
        row-gap: 25px;
        height: 120vh;
    }
    .section3 .box2{
        height: 40%;
        width: 77%;   
    }
    .section3 .box2 h2{
        font-size: 33px;
    }
    .explore-now,
    .learnmore {
        padding: 10px 7px 
    }
}



.section4 .gamecontainer2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
    margin:40px;
}
@media screen and (max-width: 1204px) {
    .section4 .gamecontainer2{
      grid-template-columns: repeat(2, 1fr);
    }
}
  @media screen and (max-width: 804px) {
    .section4 .gamecontainer2 {
      grid-template-columns: repeat(1, 1fr);
    }
  }  
.section4 .gamecontainer2 .box2{
    height: 230px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.section4 .heading2{
    display: flex;
    flex-direction: row;
}
.section4 .heading2 h2{
    padding-left: 40px;
    font-size: 2rem;
    width: 80%;
}
.arrows{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.arrows img{
    height: 60px;
    width: 60px; 
    background-color: #ffc08f;
    transition: 0.2s ease-in;
}
@media screen and (max-width: 500px) {
    .arrows{
        display: none;
    }
    .section4 .heading2 h2{
        padding-top: 20px;
    }
  }
#rotate{
    transform: rotate(180deg);
}
.arrows img:hover{
    background-color: #ff7206;
    padding: 4px;
    cursor: pointer;
}

#human{
    background: url(./images/Rectangle\ 75.png);  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
   
}
#million{
    background: url(./images/Rectangle\ 78.png);  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    
}
#cave{
    background: url(./images/Rectangle\ 76.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    
}
#spider{
    background: url(./images/Rectangle\ 77.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    
}

.download{
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ff7206;
    color: #fff;
    margin-top: 12px;
    transition: 0.1s ease-in;
}
.download:hover{
    padding: 17px 32px
}
.section4 .gamecontainer2 h3{
    font-size: 1.4rem;
}
.section4{
    height: 95vh;
    width: 100%;
    background-color: #f8fafb;
}
.section5{
    height: 140vh;
    width: 100%;
    background-color: #000;
}
.head{
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    padding-top: 30px;
}
.section5 .child{
    display: flex;
    flex-direction: row;
    height: 390px;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
}
.section5 .child .box4{
    height: 90%;
    width: 25%;
    background-color: #c2bcbc;
    transition: 0.3s ease-in;
}
#one{
    background: url(./images/Rectangle\ 17.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#two{
    background: url(./images/Rectangle\ 18.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#three{
    background: url(./images/Rectangle\ 90.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.child > :nth-child(2){
    margin-top: 20%;
}
.child > :nth-child(3){
    margin-top: 40%;
}

.section5 .child .box4:hover{
    transform: scale(1.04); 
}
@media screen and (max-width: 617px){
    .child > :nth-child(2){
        margin-top: 0%;
    }
    .child > :nth-child(3){
        margin-top: 0%;
    }
    .section5{
        height: 90vh;
    }
}
@media screen and (max-width: 430px){
    .section5 .child{
        display: flex;
        flex-direction: column;
    }
    .section5 .child .box4{
        width: 70%;
    }
    
}

.section6{
    height: 110vh;
    width: 100%;
    overflow: hidden;
    background: black;
}
.flexbox2{
    position: relative;
    text-align: center;
    color: wheat;
    margin-top: -30%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.section6 img{
    width: 100%;
    display: block;
    filter: blur(2px);
    filter: brightness(40%);  
}
.section6 .flexbox2 h2{
    font-size: 3rem;
    color: #fff;
}
.footerlogo img{
    height: 20px;
}
.section6 .flexbox2 p{
    color: #c2bcbc;
    padding-top: 20px;
}
.section6 .flexbox2 button{
    padding: 15px 30px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ff7206;
    color: #fff;
    margin-top: 12px;
    transition: 0.1s ease-in;
}
.section6 .flexbox2 button:hover{
    padding: 17px 32px;
}
@media screen and (max-width: 863px){
    .section6 .flexbox2 h2{
        font-size: 2rem;
    }

}
@media screen and (max-width: 886px){
    .section5{
        height: 100vh;
    }
}
.section6 .footer{
    position: relative;
    display: flex;
    background-color: #000;
    flex-direction: row;
    height: 70%;
    margin-top: 25px;
    gap: 8%;
    justify-content: center;
    padding-top: 4%;
}
.section6 .footer .elements {
    display: flex;
    flex-direction: column;
    color: #c2bcbc;
    gap: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}
.footerlogo {
    width: 30px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
}

.elements {
    flex: 1;
    min-width: 100px; 
    margin: 10px;
    transition: 0.2s ease-in-out;   
}
.elements p{
    transition: 0.2s ease-in-out;   
}

@media screen and (max-width: 300px) {
    .elements {
        flex-basis: 100%; 
    }
}
.footer .elements p:hover{
    padding-left:3px ;
}




